---
import {
  getArticles,
  createArticleInDb,
  deleteArticleFromDb,
} from "../../utils/db";
import { Queue } from "bullmq";

import { checkLoggedIn, addPasswordParamToUrl } from "@src/utils/auth";
const isLoggedIn = checkLoggedIn(Astro);
if (!isLoggedIn) {
  return Astro.redirect("/auth/login");
}

let statusMessage;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const { title, url, taskType, action } = Object.fromEntries(
    formData.entries(),
  );

  const isDeleting = action === "delete";

  if (isDeleting) {
    const idToDelete = parseInt(formData.get("id"));
    const deleted = deleteArticleFromDb(idToDelete);

    if (!deleted) {
      throw new Error(`Couldn't delete article with id ${idToDelete}`);
    }

    statusMessage = "Successfully deleted article!";
  } else {
    // TODO: if the user doesn't enter a title, get it from the webpage / video automatically

    const createdArticleId = createArticleInDb({
      title,
      url,
    });

    const taskNameForType = {
      "text-to-speech": "textToSpeech",
      "yt-dlp": "ytDlp",
    };

    const taskName = taskNameForType[taskType];

    if (!taskName) {
      throw new Error(`Invalid type: ${taskType}`);
    }

    const taskQueue = new Queue("taskQueue");
    taskQueue.add(taskName, { articleId: createdArticleId });
    statusMessage = "Added to queue!";
  }
}

const articles = getArticles();
---

<h1>Articles</h1>

{statusMessage && <p>Status message: {statusMessage}</p>}

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Audio</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {
      articles.map((article) => (
        <tr>
          <td>{article.title}</td>
          <td>{article.url}</td>
          <td>
            {article.mp3Url ? (
              <audio controls>
                <source
                  src={addPasswordParamToUrl(article.mp3Url)}
                  type="audio/mpeg"
                />
              </audio>
            ) : (
              <p>No audio yet.</p>
            )}
          </td>
          <td>
            <form method="POST">
              <input type="hidden" name="id" value={article.id} />
              <button name="action" value="delete">
                Delete
              </button>
            </form>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<h2>Add new</h2>

<form method="POST">
  <label>
    Title
    <input type="text" name="title" />
  </label>
  <label>
    URL
    <input type="text" name="url" />
  </label>
  <label>
    Type
    <select name="taskType">
      <option value="text-to-speech">Text to speech</option>
      <option value="yt-dlp">yt-dlp</option>
    </select>
  </label>
  <button type="submit" name="action" value="add">Add</button>
</form>
