---
import Layout from "@src/components/Layout.astro";
import Dump from "@src/components/Dump.astro";
import DocumentChapter from "@src/components/DocumentChapter.astro";

import { getRecordById, executeQuery, updateRecord } from "@src/utils/db";

const { id } = Astro.params;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const title = formData.get("title");
  const feedId = formData.get("feed-id");
  updateRecord("documents", id, { title, feed_id: feedId });
}

const document = getRecordById("documents", id);
const documentChapters = executeQuery({
  table: "document_chapters",
  condition: { document_id: id },
});

const feeds = executeQuery({
  table: "feeds",
});
---

<Layout>
  <h1>Document: {document.title}</h1>

  <h2>Edit document</h2>
  <form method="POST">
    <label
      >Title: <input type="text" name="title" value={document.title} /></label
    >

    <label
      >Feed: <select name="feed-id">
        <option value="">None</option>
        {
          feeds.map((feed) => (
            <option value={feed.id} selected={feed.id === document.feed_id}>
              {feed.title}
            </option>
          ))
        }
      </select>
    </label>

    <button>Save</button>
  </form>

  <Dump data={document} />

  <h2>Chapters</h2>

  {
    documentChapters.map((chapter) => (
      <DocumentChapter {chapter} setFeedId={document.feed_id} />
    ))
  }

  <Dump data={documentChapters} />
</Layout>
