---
import { getRecordById } from "@src/utils/db";
import taskQueue from "@src/utils/task-queue";

const { id } = Astro.props;

const article = getRecordById("articles", id);
const bullmqJobId = article.bullmq_job_id;

const jobState = await taskQueue.getJobState(bullmqJobId);

const finishedJobStates = ["completed", "failed", "cancelled", "unknown"];
const shouldPoll = !finishedJobStates.includes(jobState);
---

{
  shouldPoll ? (
    <span
      id={`job-state-${id}`}
      hx-get={`/articles/${id}/job_state`}
      hx-trigger="every 1s"
      hx-swap="outerHTML"
    >
      {jobState}
    </span>
  ) : (
    <span id={`job-state-${id}`}>{jobState}</span>
  )
}
