
---
import Dump from "../../../components/Dump.astro";
import {getWikiPageSections} from "../../../utils/wikipedia";
const {pageId} = Astro.params;
const {pageSections, totalCostEstimateAud} = await getWikiPageSections(pageId);
---

<h2>Total cost estimate</h2>
<p>Total cost: ${totalCostEstimateAud}</p>
<h2>Sections</h2>
  {pageSections.map(section => (
  <details>
    <summary>Content (cost: ${section.costEstimateAud})</summary>
    <div set:html={section.content} />
  </details>
  <Dump data={section} />
  ))}
